@font-face {
    font-family: 'AdventureText';
    src: local('AdventureText'), url(./assets/fonts/AdventureText.ttf) format('truetype');
}

body {
    background-color: #19334d;
    color: gainsboro;
    font-family: 'AdventureText';
    font-size: 40px;
    text-rendering: geometricPrecision;
    image-rendering: pixelated;
}

img {

    display: flex;
    justify-content: center;
}

.grid-layout{
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto;
    grid-template-areas:
            ". middle-area ."
}

.main{
    grid-area: middle-area;
    display: flex;
    flex-direction: column;
}

.location-title{
    display: flex;
    justify-content: center;
    align-items: center;
}


.location-image {
    width: 100%;
    height: auto;
}

.interaction-main {
}

.location-description {
}

.exitButton {
    text-align: center;
    width: 100px;
    height: 30px;
    margin-right: 10px;
    border: none;
    color: hotpink;
    font-family: AdventureText;
    font-size: 40px;
    background-color: transparent;
}
.exitButton:hover {
    color: deeppink;
}

.exitButton:active {
    outline: none;
    font-size: 38px;
}